/*Menú sidebar*/

.sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 100;
    padding: 90px 0 0;
    box-shadow: inset -1px 0 0 var(--color-border-base);
    z-index: 99;
    background-color: var(--color-background-body);
}

.sidebar .nav-link {
    color: var(--color-text-link);
}

.sidebar .nav-link.active {
    color: var(--color-text-link-active);
}

.navbar {
    box-shadow: inset 0 -1px 0 var(--color-border-base);
    background-color: var(--color-background-body);
}


/*Dark/light theme*/

body {
    background-color: var(--color-background-body);
}

.btn-dark-theme {
    display: var(--btn__dark);
}

.btn-light-theme {
    display: var(--btn__light);
}

.body__text {
    color: var(--color-text-body);
}

.text__link {
    color: var(--color-text-link);
}


/*Login form*/

.body-secondary {
    background-color: var(--color-mapflet-secondary);
}


/*Medias*/

@media (max-width: 767.98px) {
    .sidebar {
        top: 11.5rem;
        padding: 0;
    }
}

@media (min-width: 767.98px) {
    .navbar {
        top: 0;
        position: sticky;
        z-index: 999;
    }
}