:root {
    --color-bg: #ddd;
    --color-texto: #EE6352;
    --color-hinted-grey-1: #0e0e10;
    --color-hinted-grey-2: #18181b;
    --color-hinted-grey-3: #1f1f23;
    --color-hinted-grey-4: #26262c;
    --color-hinted-grey-5: #323239;
    --color-hinted-grey-6: #3b3b44;
    --color-hinted-grey-7: #53535f;
    --color-hinted-grey-8: #848494;
    --color-hinted-grey-9: #adadb8;
    --color-hinted-grey-10: #c8c8d0;
    --color-hinted-grey-11: #d3d3d9;
    --color-hinted-grey-12: #dedee3;
    --color-hinted-grey-13: #e6e6ea;
    --color-hinted-grey-14: #efeff1;
    --color-hinted-grey-15: #f7f7f8;
    --color-transparent: transparent;
    --color-green-1: #010503;
    --color-green-2: #010906;
    --color-green-3: #02120c;
    --color-green-4: #042015;
    --color-green-5: #063221;
    --color-green-6: #074029;
    --color-green-7: #0a5738;
    --color-green-8: #016b40;
    --color-green-9: #018852;
    --color-green-10: #00a865;
    --color-green-11: #00c274;
    --color-green-12: #00db84;
    --color-green-13: #00f593;
    --color-green-14: #8fffd2;
    --color-green-15: #ebfff7;
    --color-orange-1: #050301;
    --color-orange-2: #090601;
    --color-orange-3: #120d02;
    --color-orange-4: #251a04;
    --color-orange-5: #372706;
    --color-orange-6: #453008;
    --color-orange-7: #65470b;
    --color-orange-8: #7c570e;
    --color-orange-9: #9e6900;
    --color-orange-10: #c28100;
    --color-orange-11: #e69900;
    --color-orange-12: #ffb31a;
    --color-orange-13: #ffd37a;
    --color-orange-14: #ffe5b3;
    --color-orange-15: #fffaf0;
    --color-yellow-1: #050501;
    --color-yellow-2: #090901;
    --color-yellow-3: #0e0e02;
    --color-yellow-4: #1c1c03;
    --color-yellow-5: #292905;
    --color-yellow-6: #373706;
    --color-yellow-7: #4e4e09;
    --color-yellow-8: #60600b;
    --color-yellow-9: #7a7a00;
    --color-yellow-10: #949400;
    --color-yellow-11: #adad00;
    --color-yellow-12: #c7c700;
    --color-yellow-13: #e0e000;
    --color-yellow-14: #f5f500;
    --color-yellow-15: #ffffc7;
    --color-cyan-1: #010505;
    --color-cyan-2: #010909;
    --color-cyan-3: #021212;
    --color-cyan-4: #042020;
    --color-cyan-5: #052e2e;
    --color-cyan-6: #073c3c;
    --color-cyan-7: #095353;
    --color-cyan-8: #0c6a6a;
    --color-cyan-9: #018383;
    --color-cyan-10: #00a3a3;
    --color-cyan-11: #00b8b8;
    --color-cyan-12: #00d6d6;
    --color-cyan-13: #00f0f0;
    --color-cyan-14: #6bffff;
    --color-cyan-15: #ebffff;
    --color-blue-1: #010205;
    --color-blue-2: #020712;
    --color-blue-3: #040d20;
    --color-blue-4: #071a40;
    --color-blue-5: #0a255c;
    --color-blue-6: #0d3177;
    --color-blue-7: #1345aa;
    --color-blue-8: #1756d3;
    --color-blue-9: #1f69ff;
    --color-blue-10: #528bff;
    --color-blue-11: #7aa7ff;
    --color-blue-12: #a3c2ff;
    --color-blue-13: #c7daff;
    --color-blue-14: #e0ebff;
    --color-blue-15: #fafcff;
    --color-white: #fff;
    --color-black: #000;
    --color-red: #e91916;
    --color-red-darker: #bb1411;
    --color-orange: #ffd37a;
    --color-yellow: #ffd37a;
    --color-green: #00f593;
    --color-green-darker: #00ad96;
    --color-blue: #1f69ff;
    --color-prime-blue: #0e9bd8;
    --color-magenta: #c53dff;
    --color-error: #eb0400;
    --color-warn: #ffd37a;
    --color-success: #00f593;
    --color-info: #1f69ff;
    --color-accent: #9147ff;
}
.mp-root--theme-dark,:root {
    --color-background-body: var(--color-hinted-grey-3);
    --color-text-body: var(--color-white);
    --color-texto-link: var(--color-cyan-12);
    --btn__dark: none;
    --btn__light: block;
}
.mp-root--theme-light {
    --color-background-body: var(--color-hinted-grey-15);
    --color-text-body: var(--color-black);
    --color-texto-link: var(--color-cyan-8);
    --btnlightdark: var("\f1d2");
    --btn__dark: block;
    --btn__light: none;

    
}